@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

:root{
    --primary-color: #f5b400;
}

body {
    background: white;
    margin: 0;
    font-family: 'Open Sans Condensed';
}

.navbar {
    background: #f5b400;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }

}

a{
    color: #444444;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing: .1em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }
}

.penguin-img{
    width: 60%;
    margin-top: -3em;
}


section.about-me-and-goals-section{
    background: var(--primary-color);
    
    .container{
        .subhead{
            font-weight: bold;
            font-size: 1.5em;
        }
        .paragraph{
            font-size: 1.2em;
            padding: 0.5em;
        }
    }

    li{
        background: white;
        text-align: center;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
    }
    
}

h2 {
    font-size: 2em;
}

label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100px;
    height: 300px;
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--primary-color);
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
    height: 5%;
    width: 5%;
}

.contact-section{
    .container img{
        width: 100px;
        margin-bottom: 1.01em;
    }
}

@media only screen and (min-width: 780px) {
    
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a{
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
    }

}

@media only screen and (min-width: 1080px){
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container{
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1{
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .penguin-img {
        width: 30%;
        margin-right: 8em;
        margin-top: 1em;
    }

    .about-me-and-goals-section ul{
        display: flex;

        li {
            margin: 0 1em;
        }

    }
}
